@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

::-webkit-scrollbar {
  position: absolute;
  width: .8em;
}

::-webkit-scrollbar-track {
  position: absolute;
  background-color: #49556a;
  -webkit-box-shadow:inset 0 0 1px #21272f;
}

::-webkit-scrollbar-thumb {
  position: absolute;
  background-color: #21272f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(57 65 78) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: Roboto bold, sans-serif;
  outline-style: none;
  caret-color: white;
  -webkit-text-fill-color: #8993a4;
  -webkit-box-shadow: 0 0 0px 1000px #21272f inset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main {
  /* height: 100vh;
  width: 100%; */
}

#topContainerMain {
  background-color: #49556a;
}

.topContainerMainAnimation {
  animation-name: topContainerMainAnimationName;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes topContainerMainAnimationName {
  0% {
    height: 0vh;
  }
  100% {
    height: 10vh;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

#bottomContainerMain {
  background-color: rgb(57 65 78) !important;
  height: 100vh;
  width: 100%;
}

#searchForm {
  position: absolute;
  top: 50%;
  left: 25%;
}

#searchForm:focus-within {
  border: 1px solid #8993a4;
}

#searchInput::placeholder {
  color: #8993a4;
  font-family: Roboto bold, sans-serif;
}

#searchInput {
  color: #8993a4;
  font-family: Roboto bold, sans-serif;
  background-color: #242931;
}

.searchFormAnimation {
  animation-name: searchFormAnimationName;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes searchFormAnimationName {
  100% {
    top: 2%;
  }
  0% {
    top: 50%;
  }
}

#resultsContainer {
  position: absolute;
  top: 10%;
  left: 25%;
  background-color: #242931;
  font-family: Roboto bold, sans-serif;
}

#resultsContainer div {
  height: 50px;
  border: 1px solid #49556a;
}

#resultsContainer li {
  color: #49c661;
}

#resultsContainer span {
  color: #f0f1f5 !important;
}

#FilterBox {
  background-color: #242931;
  color: #f0f1f5;
  font-family: Roboto bold, sans-serif;
}

#FilterBox div {
  background-color: #2b313a;
  border: 1px solid #49556a;
  height: 50px;
}

#FilterBox button {
  border: 1px solid #49556a;
  height: 50px;
}

#FilterBox button:hover {
  border: 1px dotted rgb(247, 101, 217);
}
#ListsBox {
  background-color: #242931;
  color: #f0f1f5;
  font-family: Roboto bold, sans-serif;
}

#ListsBox div {
  background-color: #2b313a;
  border: 1px solid #49556a;
  height: 50px;
}

#ListsBox button {
  border: 1px solid #49556a;
  height: 50px;
}

#ListsBox button:hover {
  border: 1px dotted rgb(247, 101, 217);
}

.pressed {
  border: 1px solid rgb(247, 101, 217) !important;
}


